<html>
    <head>
        <title>NG|Movies</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheet/style.css">
    </head>

    <body>
        <tt>
            <strong>
                <h2 id="searchh1" class="text-center">Search your movies here.</h2>
            </strong>

            <form action="/results" method="GET" class="justify-content-center d-flex">

                <input type="text" name="search" class="form-control w-25" placeholder="Enter movies name...">
                <button class="ml-3 text-center btn btn-success">Search movie</button>

            </form>
        </tt>
    </body>
</html>